.about{
    padding:50px 8%;
    background:#F8F5EF;
}

.section-header{
    text-align:center;
}

.section-tag{
    color:#B8860B;
    font-weight:700;
    margin-bottom:10px;
}

.section-header h1{
   font-size:58px;
    font-family:Georgia, serif;
    color:#222;
    line-height: 1;
}


.subtitle{
    max-width:650px;
    margin:0 auto;
    text-align:center;
    margin-bottom: 20px;
    color:#666;
    font-size:18px;
    line-height:30px;
}

.team-section{
    text-align:center;
}

.team-section h2{
    font-size:42px;
    font-family:Georgia, serif;
    margin:15px 0 40px;
    color:#222;
}

.team-grid{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(320px,1fr));
    gap:30px;
}

.about-contact{
    margin-top:70px;
    background:#e6e6e6;
    border-radius:14px;
    padding:22px 30px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    flex-wrap:wrap;
    gap:20px;
}

.contact-left{
    display:flex;
    align-items:center;
    gap:18px;
}

.mail-box{
    width:60px;
    height:60px;
    border-radius:12px;
    background:#234734;
    color:#fff;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:22px;
}

.about-contact h3{
    margin-bottom:5px;
    color:#222;
}

.about-contact p{
    color:#666;
}

.about-contact button{
    padding:14px 34px;
    background:#234734;
    color:#fff;
    border:none;
    border-radius:8px;
    cursor:pointer;
    transition:.3s;
}

.about-contact button:hover{
    background:#B8860B;
}

@media(max-width:768px){

.section-header h1{
    font-size:40px;
    line-height:48px;
}

.team-section h2{
   font-size:40px;
    line-height:48px;
}

.about-contact{
    flex-direction:column;
    text-align:center;
}

.contact-left{
    flex-direction:column;
}

}