*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.profile-page{
    background:#f8f5ef;
    min-height:100vh;
    padding:50px 8%;
    scroll-margin-top:100px;
}

.profile-container{
    display:grid;
    grid-template-columns:280px 1fr;
    gap:30px;
}

/* Sidebar */

.profile-sidebar{
    background:#fff;
    border-radius:18px;
    padding:30px;
    text-align:center;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
}

.profile-image{
    font-size:90px;
    color:#234734;
    margin-bottom:15px;
}

.profile-sidebar h2{
    color:#234734;
    margin-bottom:8px;
}

.profile-sidebar p{
    color:#777;
    margin-bottom:30px;
}

.sidebar-menu{
    display:flex;
    flex-direction:column;
    gap:15px;
}

.sidebar-menu button{
    display:flex;
    align-items:center;
    gap:12px;
    padding:14px;
    border:none;
    border-radius:10px;
    cursor:pointer;
    color: #000;
    background:#f4f4f4;
    font-size:15px;
    transition:.3s;
}

.sidebar-menu button:hover{
    background:#234734;
    color:#fff;
}

.logout{
    background:#B8860B !important;
    color:#fff;
}

/* Content */

.profile-content{
    display:flex;
    flex-direction:column;
    gap:25px;
}

.welcome-card{
    background:#234734;
    color:#fff;
    padding:35px;
    border-radius:18px;
}

.welcome-card h1{
    font-size:36px;
    margin-bottom:10px;
}

.dashboard-cards{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:20px;
}

.dash-card{
    background:#fff;
    padding:25px;
    border-radius:15px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
    text-align:center;
}

.dash-card h3{
    color:#555;
    margin-bottom:15px;
}

.dash-card span{
    font-size:40px;
    color:#234734;
    font-weight:bold;
}

.recent-projects{
    background:#fff;
    padding:30px;
    border-radius:18px;
    box-shadow:0 5px 20px rgba(0,0,0,.08);
}

.recent-projects h2{
    margin-bottom:20px;
    color:#234734;
}

table{
    width:100%;
    border-collapse:collapse;
}

th,td{
    padding:16px;
    text-align:left;
    border-bottom:1px solid #eee;
}

th{
    background:#234734;
    color:#fff;
}

.active{
    color:green;
    font-weight:bold;
}

.pending{
    color:#B8860B;
    font-weight:bold;
}

/* Responsive */

@media(max-width:900px){

.profile-container{
    grid-template-columns:1fr;
}

.dashboard-cards{
    grid-template-columns:1fr;
}

table{
    display:block;
    overflow-x:auto;
}

}

@media(max-width:600px){

.profile-page{
    padding:30px 20px;
}

.welcome-card h1{
    font-size:28px;
}

.profile-sidebar{
    padding:25px;
}

}